
@{
   // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prodaja Mobitela</h2>

Dostupni mobiteli
<br/>
Mobitel:@ViewBag.Mobitel
<br/>

Popis mobitela @Html.ActionLink("link","Popis")
