@model List<Projekt_PAUP_Prodaja_Mobitela_Petar_Čanadi.Models.Mobitel>

@foreach (var mobitel in Model)
{
    <div>
        <h3>@mobitel.Naziv</h3>
        <p>Cijena: @mobitel.Cijena</p>
        <p>@mobitel.Opis</p>
        @Html.ActionLink("Kupi", "PotvrdaKupovine", new { id = mobitel.ID }, new { @class = "btn btn-success" })
    </div>
}
