@{
    ViewBag.Title = "Uspješna Prijava Reklamacije";
}

<div class="container">
    <h4 class="text-center mb-4">Uspješna Prijava Reklamacije</h4>
    <hr />
    <div class="alert alert-success" role="alert">
        Vaša reklamacija je uspješno prijavljena.
    </div>
    <div class="text-center">
        <a href="@Url.Action("PopisZaKorisnika", "Mobiteli")" class="btn btn-primary">Povratak na Popis Za Kupca</a>
    </div>
</div>
