<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-primary btn-block">Početna</a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Prijava", "Korisnici")" class="btn btn-lg btn-secondary btn-block">Prijava</a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Registracija", "Korisnici")" class="btn btn-lg btn-success btn-block">Registracija</a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Prijava", "Admin")" class="btn btn-lg btn-info btn-block">Admin Prijava</a>
        </div>
    </div>
</div>
