@{
    ViewBag.Title = "O nama";
    ViewBag.Message = "Dobrodošli u našu trgovinu mobitelima!";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 about-section bg-light p-4 rounded shadow-sm">
            <h2 id="title" class="text-center text-primary mb-4">@ViewBag.Title</h2>
            <h3 class="text-center text-secondary mb-4">@ViewBag.Message</h3>

            <p class="text-justify">Dobrodošli u našu trgovinu, vašu destinaciju za najnovije i najbolje mobitele na tržištu! Naša strast prema tehnologiji i predanost izvrsnosti vodi nas u pružanju vrhunskog iskustva kupovine svim našim korisnicima.</p>

            <p class="text-justify">Naša ponuda uključuje širok spektar mobilnih uređaja najpoznatijih brendova kao što su Apple, Samsung, Huawei, Xiaomi i mnogi drugi. Bez obzira tražite li najnoviji flagship model, povoljan pametni telefon ili dodatnu opremu, kod nas ćete pronaći sve što vam je potrebno.</p>

            <p class="font-weight-bold">Zašto odabrati nas?</p>
            <ul class="list-unstyled pl-3">
                <li><i class="fas fa-check-circle text-success"></i> <strong>Kvaliteta i Pouzdanost:</strong> Svi naši proizvodi su originalni i dolaze s garancijom.</li>
                <li><i class="fas fa-check-circle text-success"></i> <strong>Odlična Podrška:</strong> Naš tim stručnjaka uvijek je spreman pomoći vam s bilo kakvim pitanjima ili problemima.</li>
                <li><i class="fas fa-check-circle text-success"></i> <strong>Konkurentne Cijene:</strong> Nudimo povoljne cijene i redovite popuste na razne artikle.</li>
               
            </ul>

            <p class="text-justify">Posjetite našu trgovinu i uvjerite se zašto smo najbolji izbor za vašu sljedeću kupovinu mobitela. Hvala vam na povjerenju!</p>
        </div>
    </div>
</div>
